{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'rest_api/styles.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Developer Tools</title>

    <link rel="shortcut icon" type="image/png" href="{% static 'rest_api/shutterstock_301215242.jpg' %}">

</head>
<body>
    <div class="main-container">
        <div class="intro-container">
            <h1>Django REST API</h1>
            
            <p class="intro">
            This REST API is an example project that aggregates data from <a href="https://www.energy.gov/sites/prod/files/2020/12/f81/code-12-15-2020.json">https://www.energy.gov/sites/prod/files/2020/12/f81/code-12-15-2020.json</a>
            </p>
            
            <p class="intro">
            GitHub project can be found <a href="https://github.com/codeDogMcGee/DeveloperToolsRestApi">here</a>
            </p>
        </div>
        
        <h3>API Endpoints</h3>
        <h4>Json</h4>
        <ul>
            <li><a href="/organizations/">General Organizations [/organizations/]</a></li>
            
            <li><a href="/organizations/organization/1/">Sort By Organization Ascending [/organizations/organization/1/]</a></li>
            
            <li><a href="/organizations/organization/0/">Sort By Organization Descending [/organizations/organization/0/]</a></li>
            
            <li><a href="/organizations/release_count/1/">Sort By Number of Releases Ascending [/organizations/release_count/1/]</a></li>
            
            <li><a href="/organizations/release_count/0/">Sort By Number of Releases Descending [/organizations/release_count/0/]</a></li>
            
            <li><a href="/organizations/total_labor_hours/1/">Sort By Total Labor Hours Ascending [/organizations/total_labor_hours/1/]</a></li>
            
            <li><a href="/organizations/total_labor_hours/0/">Sort By Total Labor Hours Descending [/organizations/total_labor_hours/0/]</a></li>

        </ul>
        
        <h4>CSV Download</h4>
        <ul>

            <li><a href="/organizations/csv/">General Organizations [/organizations/csv/]</a></li>

            <li><a href="/organizations/organization/1/csv/">Sort By Organization Ascending [/organizations/organization/1/csv/]</a></li>
            
            <li><a href="/organizations/organization/0/csv/">Sort By Organization Descending [/organizations/organization/0/csv/]</a></li>
         
            <li><a href="/organizations/release_count/1/csv/">Sort By Number of Releases Ascending [/organizations/release_count/1/csv/]</a></li>
         
            <li><a href="/organizations/release_count/0/csv/">Sort By Number of Releases Descending [/organizations/release_count/0/csv/]</a></li>
 
            <li><a href="/organizations/total_labor_hours/1/csv/">Sort By Total Labor Hours Ascending [/organizations/total_labor_hours/1/csv/]</a></li>
            
         
            <li><a href="/organizations/total_labor_hours/0/csv/">Sort By Total Labor Hours Descending [/organizations/total_labor_hours/0/csv/]</a></li>
        </ul>


    </div>
</body>
</html>