:root {
    --main-text-color: #3B3E50;
    min-width: 300px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.2rem;

    color: var(--main-text-color);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--main-text-color);
}

header h1, a {
    text-decoration: none;
    color: var(--main-text-color)
}

h3 {
    margin: 2rem 0;
    text-align: left;
}

li {
    margin: 1rem 0;
}

.main-container {
    width: 100%;
    max-width: 800px;
}